<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>

    <h2>This is a dashboard</h2>


    {{if .LoggedIn}}
    Logged in as: {{.Username}}
    <div hx-post="auth/logout">
        Logout
    </div>
    {{else}}
    <h2>TPublic data</h2>

    {{end}}

</body>

</html>