<html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>

    <form hx-post="/auth/login" hx-target="#testing" hx-swap="innerHTML">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" value="John"><br>
        <label for="password">Last name:</label><br>
        <input type="password" id="userid" name="password" value="hunter2"><br><br>
        <button type="submit">Submit</button>
    </form>

    <div id="testing">

    </div>
</body>

</html>